.l-footer {
  padding: 5px;
  text-align: center;
  align-items: center;
  background: linear-gradient(-45deg,rgba(246, 114, 224, 0.549) 0%, rgba(21, 155, 154, 0.831) 100%);
  color: #fff;
  .l-footer p span {
    font-family: 'Times New Roman', 'Times';
  }
}